<div id="<%= dom_id map %>">

  <p><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= map.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= map.description %>
  </p>

  <p>
    <strong>Regions:</strong>
  </p>
  <% if map.regions.any? %>
    <ul>
      <% map.regions.each do |region| %>
        <li><%= region.name %></li>
      <% end %>
    </ul>
  <% end %>
  
  <%= form_with model: [map, map.regions.build], local: true do |form| %>
    <%= form.text_field :name, placeholder: "Region name" %>
    <%= form.submit "Add Region" %>
  <% end %>

  <%= render "shared/card", variant: :map do %>
    <% if map.image.attached? %>
      <%= image_tag map.image, alt: map.name, class: "#{spacing[:card][:thumbnail]} w-auto h-auto object-cover rounded" %>
    <% else %>
      <!-- Show placeholder or nothing -->
      <div class="btn">No image available</div>
    <% end %>
  <% end %>
  <% map.hexes.each do |hex| %>
    <%= render 'hexes/hex', hex: hex %>
  <% end %>
</div>
