<% content_for :title, "Maps" %>

<div class="h-screen" data-testid="index-DOM-div">

  <!-- Left-side Drawer -->
  <div class="drawer">
    <div class="drawer-content flex flex-row h-screen">
      <!-- Vertical Sidebar with Map Controls -->
      <div class="bg-base-100 w-16 flex flex-col items-center space-y-6 pt-4">
        <div class="space-y-2"></div>

        <!-- Add/Plus Icon -->
        <label for="new-map-modal" data-testid="new-map" class="btn btn-accent btn-circle cursor-pointer" >
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="w-6 h-6 stroke-gray-900">
            <path stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 4v16m8-8H4"
            />
          </svg>
        </label>

        <!-- Edit/Pencil Icon -->
        <%= link_to '#',
                    data: {
                      id: "edit-map"
                    },
                    class:"btn btn-primary btn-circle btn-disabled" do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="w-6 h-6 stroke-current">
            <path stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"
            />
          </svg>
        <% end %>

        <!-- Play Icon -->
        <%= link_to '#' ,
                    data: {
                      id: "play-map"
                    },
                    class:"btn btn-secondary btn-circle btn-disabled" do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-2 -2 24 24" class="w-6 h-6 stroke-current">
            <path stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M0,9.75A9.75,9.75,0,1,1,9.75,19.5,9.761,9.761,0,0,1,0,9.75Zm1.5,0A8.25,8.25,0,1,0,9.75,1.5,8.259,8.259,0,0,0,1.5,9.75Zm5.75-3.8,7,3.8-7,3.8Z"
            />
          </svg>
        <% end %>

        <!-- Spacer -->
        <div class="flex-1"></div>

        <!-- Account Management Dropdown -->
        <div class="object-center">
          <%= render 'shared/account_menu', direction: "left" %>
        </div>
        <div class="h-1"></div>
      </div>

      <!-- Main Content -->
      <div class="flex-1 bg-base-100 h-screen">
        <div data-controller="maps" class="flex h-screen bg-neutral">

          <!-- Thumbnail List -->
          <div class="w-2/5 bg-base-300 border-r border-base-200 flex flex-col">

            <!-- Header -->
            <div class="p-2 border-b-2 border-base-100">
                <h1 class="text-center text-3xl font-bold text-neutral-content">Your Maps</h1>
            </div>

            <!-- Maps Containers -->
            <div class="flex-1 overflow-y-auto px-2 h-auto">
              <div class="space-y-4">
                <% @maps.each do |map| %>
                  <div class="h-10 min-w-full"></div>
                  <%= link_to "#",
                              data: {
                                action: "click->maps#loadPreview",
                                map_id: map.id,
                                testid: "map-card-#{map.id}",
                                is_gm: current_player_is_gm_for_map?(map)
                              } do %>
                    <div id="thumbnail-<%= map.id %>" class="map-thumbnail card bg-base-100 p-4 flex flex-row gap-4 hover hover:bg-base-200 hover:border-neutral-content shadow-md">
                      <!-- Map Thumbnail -->
                      <div class="border w-3/5 rounded-md overflow-hidden h-64">
                        <%= image_tag map.image, class: "w-full h-full object-cover" if map.image.present? %>
                      </div>
                      <!-- Map Details -->
                      <div class="flex flex-col flex-1 justify-between">
                        <div>
                          <p class="capitalize">
                            <strong> <%= map.name %> </strong>
                          </p>
                          <p class="first-letter:uppercase italic">
                            <%= map.description %>
                          </p>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>

          <!-- Map Large Preview Window -->
          <div data-maps-target="preview" class="p-4 w-3/5 min-h-full items-center text-center content-center">
            <p><%= notice %></p>
            <!-- preview content loads here automatically -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Render Settings Modal -->
<%= render 'users/settings' %>

<!-- Render New Map Modal -->
<%= render 'maps/new' %>